<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./style.css'>
    <link rel="stylesheet" type='text/css' href="./bootstrap.css">

</head>

<body>
    <div class="save-to-pdf">

        <button id="save-button">Save to Pdf</button>

        <div class="bar-root">
            <div class="bar-child"></div>
        </div>
    </div>
    <form class="filename" method="POST" action="/pdf">
        <input type="text" name="name" placeholder="file name without the extension">
        <button id="download" type="button"> Download </button>
    </form>
    <select id="mySelect">

        <% for(var i=0; i<themes.length ; i++) { %>
            <option value="./<%= themeValue[i] %>">
                <%= themes[i] %>
            </option>
            <% } %>
    </select>
    <div class="parent" id="top">

        <div class="md-container">
            <h1>Markdown goes here</h1>
            <textarea placeholder="start writing here" id="md-data"></textarea>
        </div>
        <div class="parent-container">
            <h1>Output</h1>
            <div id="child-container">
            </div>
        </div>
    </div>


    <div id="gotop">
        <a href="#save-button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="white" d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z" />
            </svg></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"></script>
    <script src='./main.js'></script>
</body>

</html>